<h1>Red Bull Ring</h1>

<nb-flip-card style="margin-bottom: 0px">
  <nb-card-front>
    <nb-card>
      <nb-card-body>
        <img class="adjustSize" src={{redBullRing}}>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-card-body>
        <img class="adjustSize" src="{{redBullRingLandscape}}">
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Stats
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row">
        <div class="column">
          <p>First Grand Prix</p>
          <h1>1970</h1>
        </div>
        <div class="column">
          <p>Number of Laps</p>
          <h1>71</h1>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p>Circuit Length(km)</p>
          <h1>4.318</h1>
        </div>
        <div class="column">
          <p>Race Distance(km)</p>
          <h1>306.452</h1>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p>Lap Record</p>
          <h1 class="followYear">Carlos Sainz</h1> (2020)
        </div>
        <div class="column">
          <p>Time</p>
          <h1 class="followYear">1:05.619</h1>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      When was the track built?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      The fearsome, original Osterreichring was originated in 1969 as a replacement for the Zeltweg airfield circuit. The track known today as the Red Bull Ring was more or less created over the winter of 1995-6, when Hermann Tilke was engaged to turn the Osterreichring into a shorter, more modern race track.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      When was its first Grand Prix?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      The A1-Ring, as it was then called, was opened in 1996, with Formula 1 arriving at the circuit a year later. Jacques Villeneuve won the race, while Jean Alesi had a spectacular crash when his Benetton climbed up the Ferrari of Eddie Irvine. Alesi’s team mate Gerhard Berger, meanwhile, used his home Grand Prix to announce his F1 retirement.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      What’s the circuit like?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      It’s only wee, bless it, but the Red Bull Ring packs a lot into a short lap. The first half rewards power, as the cars blast along three straights separated by a pair of uphill right-handers. But then as the drivers work their way downhill, the circuit becomes a regular toboggan ride, as the cars canyon through a series of quick corners, including the exhilarating Rindt right-hander, named for Austria’s first F1 champion.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Why go?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      Race tracks don’t come much more picturesque than the Red Bull Ring, set in an idyllic natural bowl in the Styrian mountains. That makes for a pleasant environment for a Grand Prix, while if you’re after tourist attractions to visit after the race, look no further than the museum in Graz dedicated to the city’s favourite son: Arnold Schwarzenegger.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Where is the best place to watch?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      One of Formula 1’s best views is to be had at the Red Bull Ring’s ‘Nord’ grandstand, based around the outside of what used to be the Bosch Kurve at the Osterreichring. Here, you’ll have a great vantage point across much of the track as it drops away from you down the natural slope of the circuit.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>


